*{
    font-family: 'PT Serif', serif;
    line-height: 1.6;
}

.container{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px
}

.toDo-Head{
    display: flex;
    gap: 30px;
}
button{
    padding: 5px;
    color: #fff;
    background-color: #7307ff;
}
.checked{
    text-decoration: line-through;
}